<div class="prod">
<%= form_for(@produto, :html => { :multipart => true }) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Nome</h3>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <h3>Preço</h3>
<%= f.number_field :price, :class => 'price', :step=> "0.01", :value => (number_with_precision(f.object.price, :precision =>2) || 0) %>
  </div>

  <div class="field">
    <h3>Descrição</h3>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <h3>Quantidade</h3>
    <%= f.number_field :amount %>
  </div>
   <div class="field">
    <h3>Código</h3>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <h3>Imagem</h3>
    <%= f.file_field :picture %>
  </div>


  <div class="actions">
    <%= f.submit 'Cadastrar'%>
  </div>
<% end %>
</div>
