<div class="tb">
  
<p id="notice"><%= notice %></p>

<h2>Lista de produtos</h2>

<table border="10" bgcolor=lightgray>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Imagem</th>
      <th>Código</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr align="center">
        <td><%= produto.name %></td>
        <td><%= produto.price %></td>
        <td><%= produto.description %></td>
        <td><%= produto.amount %></td>
        <td><%= produto.code %></td>
        <td><%= link_to 'Exibir', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<header>
<ul class="actions">
<li><a href= "/produtos/new" class="button icon fa-file">Novo Produto</a></li>
</ul>
</header>
<h1><%= link_to 'Voltar', root_path %></h1>
</div>