<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produto.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produto.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produto.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @produto.amount %>
</p>

<p>
  <strong>Pic:</strong>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
