<center>
<%= form_for(@negocio) do |f| %>
  <% if @negocio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@negocio.errors.count, "error") %> prohibited this negocio from being saved:</h2>

      <ul>
      <% @negocio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.label :produto_id %><br>
    <%= f.collection_select(:produto_id, Produto.all, :id, :name, prompt: true) %>
  </div>

  <div class="">
  <%= select("negocio", "tipo", ['Compra', 'Venda'], {include_blank: true}) %>
  </div>
  

  <div class="">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="">
    <%= f.label :codigo %><br>
    <%= f.number_field :codigo %>
  </div>
  <div class="">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>